@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 50;
  border-bottom: 1px solid rgba(153, 148, 148, 0.634);
}

.header__body {
  position: relative;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 2;
  font-size: 25px;
  line-height: 22px;
  font-weight: 700;
  color: #212121;
}

.header__burger {
  display: none;
}

.header__menu {
  z-index: 2;
  position: relative;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #ffffff;
}

.main {
  position: relative;
  min-height: 100vh;
}

.main__bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__body {
  padding: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

.main__title {
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.main__subtitle {
  margin: 45px 0px;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.main__links {
  margin: 0px 0px 45px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 10px;
  width: 220px;
  height: 70px;
  overflow: hidden;
}

.main__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin: 0px 0px 0px -50px;
  -webkit-animation: arrow 1s ease 0s infinite alternate none;
          animation: arrow 1s ease 0s infinite alternate none;
}

.about {
  padding: 125px 0px;
}

.about__title {
  margin: 0px 0px 124px 0px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -30px -12px;
}

.about__description {
  margin: 30px 12px;
}

.our-services {
  padding: 180px 0px 126px 0px;
  background-color: #e4fdf9;
}

.our-services__title {
  margin: 0px 0px 112px 0px;
}

.our-services__content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -12px;
}

.our-services__description {
  margin: 12px;
  width: 370px;
  height: 438px;
  background-color: #ffffff;
}

.latest-works {
  padding: 128px 0px 136px 0px;
}

.latest-works__title {
  margin: 0px 0px 112px 0px;
}

.latest-works__menu {
  margin: 0 auto 119px auto;
  max-width: 690px;
}

.latest-works__select {
  border: 1px solid #000;
  min-width: 240px;
  text-align: center;
  height: 40px;
  display: none;
  margin: 0 auto;
}

.latest-works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-works__link {
  width: 180px;
}

.latest-works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -12px 129px -12px;
}

.latest-works__item {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 12px 12px;
  overflow: hidden;
  max-width: 370px;
  min-height: 370px;
  width: 100%;
}

.latest-works__item img {
  position: absolute;
  z-index: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.latest-works__description {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.latest-works__description:hover {
  opacity: 1;
}

.latest-works__label {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.latest-works__text {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.pricing-plan {
  background-color: #f0f0f0;
  padding: 125px 0px;
}

.pricing-plan__title {
  margin: 0px 0px 126px 0px;
}

.pricing-plan__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -30px -12px;
}

.pricing-plan__price {
  margin: 30px 12px;
}

.team {
  padding: 125px 0px 125px 0px;
}

.team__title {
  margin: 0px 0px 127px 0px;
}

.blog {
  background-color: #e4fdf9;
  padding: 125px 0px 125px 0px;
}

.blog__title {
  margin: 0px 0px 127px 0px;
}

.blog__content {
  margin: 0px 0px 125px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog__row {
  margin: 0px -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog__photo {
  margin: 0px 10px;
  max-width: 570px;
  max-height: 440px;
  overflow: hidden;
}

.blog__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__column {
  margin: 0px 10px;
}

.contact-us {
  background-color: #212121;
  padding: 128px 0px 110px 0px;
}

.contact-us__inner {
  max-width: 1032px;
  margin: 0 auto;
}

.contact-us__title {
  margin: 0px 0px 121px 0px;
}

.contact-us__row {
  margin: 0px 0px 80px 0px;
  -webkit-box-flex: 33.3%;
      -ms-flex: 33.3%;
          flex: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-us__item {
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 310px;
  width: 100%;
  margin: 50px 0px;
}

.contact-us__wrapper-icon {
  margin: 0px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 105px;
  height: 105px;
  background-color: #3949ab;
  border-radius: 100%;
}

.contact-us__wrapper-icon:hover {
  -webkit-animation: circle 0.4s linear 0s;
          animation: circle 0.4s linear 0s;
}

.contact-us__text {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer__text {
  padding: 20px 10px;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0px auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 660px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  margin: 0px 0px 0px 20px;
  position: relative;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.menu__item:hover {
  text-shadow: 0px 0px 1px black;
}

.link {
  padding: 10px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
  border: 2px solid #212121;
  text-align: center;
  background-color: transparent;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.link--colored {
  border: 2px solid #fff;
}

.link--colored a {
  color: #fff;
}

.link--large {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  width: 220px;
  line-height: 30px;
}

.link--original {
  width: 100px;
}

.link:hover {
  background-color: #00897b;
  color: #ffffff;
  border: 2px solid #00897b;
}

.link:active {
  background-color: rgba(0, 137, 123, 0.5);
  border: 2px solid rgba(0, 137, 123, 0.1);
}

.title {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__label {
  text-align: center;
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
}

.title__label--original {
  color: #fff;
}

.title__text {
  max-width: 640px;
  text-align: center;
  margin: 36px 0px 0px 0px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
}

.title__text--original {
  color: #fff;
}

.description {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description__icon {
  margin: 0px 0px 29px 0px;
}

.description__icon:hover {
  -webkit-animation: circle 0.4s linear 0s;
          animation: circle 0.4s linear 0s;
}

.description__title {
  margin: 0px 0px 26px 0px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.description__text {
  margin: 0px 0px 20px 0px;
  width: 255px;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
}

.description__link {
  width: 150px;
}

.price {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 370px;
}

.price__header {
  position: relative;
  padding: 48px 0px 68px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3949ab;
}

.price__header:after {
  content: '';
  position: absolute;
  overflow: hidden;
  bottom: 0;
  border-bottom: 0px solid transparent;
  border-right: 370px solid #fff;
  border-top: 40px solid transparent;
}

.price__title {
  margin: 0px 0px 40px 0px;
  font-size: 25px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.price__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.price__subtitle li:first-child {
  margin: 0 0 10px 0;
  font-size: 25px;
}

.price__subtitle li:nth-child(2) {
  font-size: 50px;
  margin: 10px 0px 0px 0px;
}

.price__subtitle li:nth-child(3) {
  font-size: 17px;
  margin: 20px 0px 0px 0px;
}

.price__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #212121;
  position: relative;
  margin: 0px 0px 80px 0px;
}

.price__description li {
  margin: 0px 0px 20px 0px;
}

.price__description li:after {
  content: '';
  width: 178px;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 30px);
      -ms-transform: translate(-50%, 30px);
          transform: translate(-50%, 30px);
}

.price__description li:last-child {
  margin: 0px 0px 0px 0px;
}

.price__description li:last-child:after {
  height: 0px;
}

.price__link {
  margin-bottom: 60px;
  width: 180px;
}

.slider__row {
  position: relative;
  margin: -50px -12px 40px -12px;
}

.slider__column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__image {
  border-radius: 15px;
  max-width: 370px;
  height: 320px;
  overflow: hidden;
  margin: 0px 0px 36px 0px;
}

.slider__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.slider__title {
  margin: 0px 0px 6px 0px;
  width: 370px;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.slider__subtitle {
  width: 370px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
  margin: 0px 0px 30px 0px;
}

.slider__icons {
  width: 370px;
  padding: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-blog {
  padding: 60px 0px 10px 0px;
  max-width: 570px;
  width: 100%;
}

.item-blog__title {
  display: block;
  margin: 0px 0px 28px 0px;
  font-size: 25px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #00897b;
}

.item-blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px 0px 26px 0px;
}

.item-blog__date {
  position: relative;
  margin: 5px 40px 5px 30px;
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.item-blog__date:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -30px;
  background: url(../blog/icon00001.png) no-repeat;
  width: 20px;
  height: 20px;
}

.item-blog__subtitle {
  margin: 5px 30px 5px 30px;
  position: relative;
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.item-blog__subtitle:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -30px;
  background: url(../blog/icon00002.png) no-repeat;
  width: 20px;
  height: 20px;
}

.item-blog__text {
  max-width: 450px;
  width: 100%;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
}

.icons__item {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.icons__item:hover {
  -webkit-transition: border-radius 0.3s ease-in-out;
  -o-transition: border-radius 0.3s ease-in-out;
  transition: border-radius 0.3s ease-in-out;
  border-radius: 100%;
}

.icons__item:active {
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.feedback__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px -15px -15px -15px;
}

.feedback__name {
  margin: 15px 15px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  height: 84px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.feedback__email {
  margin: 15px 15px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  height: 84px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.feedback__message {
  resize: none;
  padding: 20px;
  max-width: 1030px;
  width: 100%;
  height: 324px;
  border-radius: 10px;
  margin: 30px 0px 40px 0px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.feedback__wrapper-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.feedback__btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  border-radius: 10px;
  width: 220px;
  height: 70px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.feedback__btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.feedback__btn:active {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 390px) {
  .container {
    width: 300px;
  }
  .price__header:after {
    content: '';
    border-right: 280px solid #fff;
  }
  .icons__item {
    -webkit-transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  .icons__item:active {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
  .main__title {
    font-size: 36px;
    line-height: 36px;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    font-size: 18px;
  }
  .header__menu {
    overflow: auto;
    z-index: 1;
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    padding: 70px 0px 20px 10px;
  }
  .header__menu.active {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu__list {
    min-width: 0;
    display: block;
    text-align: center;
  }
  .menu__item {
    margin: 0px 0px 20px 0px;
    font-size: 30px;
  }
  .latest-works__menu {
    margin: 0px auto 40px auto;
    max-width: 690px;
  }
  .latest-works__list {
    display: none;
    position: relative;
    z-index: 0;
  }
  .latest-works__select {
    display: block;
  }
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 1170px;
  }
  .blog__photo--reverse {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes arrow {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 30px;
  }
}

@keyframes arrow {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 30px;
  }
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  margin: 0 10px;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: #3949ab;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #00897b;
  border-radius: 50%;
}

/* Конкретный слайдер */
