
// Обнуление стилей
@import "nullstyle.scss";





// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');





// Плавная прокрутка всего документа
html {
	scroll-behavior: smooth;
}





// Тело
body {
font-family: 'Open Sans', sans-serif;
}




// Основные блоки сайта
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	position: fixed;
	z-index: 50;
	border-bottom: 1px solid rgba(153, 148, 148, 0.634);
	&__body {
		position: relative;
		height: 60px;
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		position: relative;
		z-index: 2;
		font-size: 25px;
		line-height: 22px;
		font-weight: 700;
		color: #212121;
	}

	&__burger{
		display: none;
	}

	&__menu {
		z-index: 2;
		position: relative;
	}

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: #ffffff;
	}
}

.main {
	position: relative;
	min-height: 100vh;
	&__bg{
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		object-fit: cover;
	}

	&__body {
		padding: 50px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		position: relative;
		z-index: 2;
	}

	&__title {
		text-align: center;
		font-size: 60px;
		line-height: 60px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #ffffff;
	}

	&__subtitle {
		margin: 45px 0px;
		text-align: center;
		font-size: 22px;
		line-height: 30px;
		font-weight: 400;
		letter-spacing: 0.05em;
		color: #ffffff;
	}

	&__links {
		margin: 0px 0px 45px 0px;
		flex-wrap: wrap;
		justify-content: center;
		display: flex;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px 10px;
		width: 220px;
		height: 70px;
		overflow: hidden;
	}

	&__arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 100px;
		position: absolute;
		bottom: 0px;
		left: 50%;
		margin: 0px 0px 0px -50px;
		animation: arrow 1s ease 0s infinite alternate none;
	}
}

.about {		
	padding: 125px 0px;

	&__title {
		margin: 0px 0px 124px 0px;
	}

	&__row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: -30px -12px;
	}

	&__description {
		margin: 30px 12px;
	}
}

.our-services {
	padding: 180px 0px 126px 0px;
	background-color: #e4fdf9;

	&__title {
		margin: 0px 0px 112px 0px;
	}

	&__content {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -12px;
	}

	&__description {
		margin: 12px;
		width: 370px;
		height: 438px;
		background-color: #ffffff;
	}
}

.latest-works {
	padding: 128px 0px 136px 0px;

	&__title {
		margin: 0px 0px 112px 0px;
	}

	&__menu {
		margin: 0 auto 119px auto;
		max-width: 690px;
	}

	&__select {
		border: 1px solid #000;
		min-width: 240px;
		text-align: center;
		height: 40px;
		display: none;
		margin: 0 auto;
	}

	&__option {
	}

	&__list{
		display: flex;
		justify-content: space-between;
	}

	&__link {
		width: 180px;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0px -12px 129px -12px;
	}

	&__item {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 12px 12px;
		overflow: hidden;
		max-width: 370px;
		min-height: 370px;
		width: 100%;

		& img {
			position: absolute;
			z-index: 0;
			bottom: 0;
			object-fit: cover;
			height: 100%;
		}
	}

	&__description {
		opacity: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.85);
		transition: 0.5s;
		&:hover {
			opacity: 1;
		}
	}

	&__label{
		font-size: 20px;
		line-height: 22px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #ffffff;
	}

	&__text{
		font-size: 15px;
		line-height: 22px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #ffffff;
	}
}

.pricing-plan {
	background-color: #f0f0f0;
	padding: 125px 0px;

	&__title {
		margin: 0px 0px 126px 0px;
	}

	&__row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: -30px -12px;
	}

	&__price {
		margin: 30px 12px;
	}
}

.team {
	padding: 125px 0px 125px 0px;
	
	&__title {
		margin: 0px 0px 127px 0px;
		
	}

	&__slider {
	}
}

.blog {
	background-color: #e4fdf9;
	padding: 125px 0px 125px 0px;
	
	&__title {
		margin: 0px 0px 127px 0px;
	}

	&__content {
		margin: 0px 0px 125px 0px;
		display: flex;
		flex-direction: column;
	}

	&__row {
		margin: 0px -10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__photo {
		margin: 0px 10px;
		max-width: 570px;
		max-height: 440px;
		overflow: hidden;
		& img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__column {
		margin: 0px 10px;
	}

	&__link {}
}

.contact-us {
	background-color: #212121;
	padding: 128px 0px 110px 0px;

	&__inner {
		max-width: 1032px;
		margin: 0 auto;
	}

	&__title {
		margin: 0px 0px 121px 0px;
	}

	&__row {
		margin: 0px 0px 80px 0px;
		flex: 33.3%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		padding: 0px 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 310px;
		width: 100%;
		margin: 50px 0px;
		
	}

	&__wrapper-icon{
		margin: 0px 0px 40px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 105px;
		height: 105px;
		background-color: #3949ab;
		border-radius: 100%;
		&:hover {
			animation: circle 0.4s linear 0s;
		}
	}

	&__icon {}

	&__text {
		text-align: center;
		font-size: 20px;
		line-height: 28px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #ffffff;
	}

	&__feedback {}
}

.footer {
	&__text{
		padding: 20px 10px;
		text-align: center;
		font-size: 20px;
		line-height: 22px;
		font-weight: 700;
		letter-spacing: 0.05em;
		color: #212121;
	}
}





// Контейнер
.container {
	max-width: 1180px;
	padding: 0 10px;
	margin: 0px auto;
}




// Целиковые блоки
.menu {
	&__list{
		display: flex;
		min-width: 660px;
		justify-content: space-between;
	}
	&__item {
		margin: 0px 0px 0px 20px;
		position: relative;
		font-size: 20px;
		line-height: 22px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #212121;
		&:hover {
			text-shadow: 0px 0px 1px rgba($color: black, $alpha: 1);
		}
	}
}

.link {
	padding: 10px;
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: #212121;
	border: 2px solid #212121;
	text-align: center;
	background-color: transparent;
	transition: 0.2s;
	&--colored{
		border: 2px solid #fff;
		& a{
			color: #fff;
		}
	}
	&--large {
		display: block;
		margin: 0 auto;
		font-weight: 700;
		width: 220px;
		line-height: 30px;
	}

	&--original {
		width: 100px;
	}

	&:hover {
		
		background-color: #00897b;
		color: #ffffff;
		border: 2px solid #00897b;
	}
	&:active {
		background-color: rgba(0, 137, 123, 0.5);
		border: 2px solid rgba(0, 137, 123, 0.1);
	}
}

.title {
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__label {
		text-align: center;
		font-size: 30px;
		line-height: 34px;
		font-weight: 700;
		letter-spacing: 0.05em;
		color: #212121;
		&--original {
			color: #fff;
		}
	}

	&__text {
		max-width: 640px;
		text-align: center;
		margin: 36px 0px 0px 0px;
		font-size: 15px;
		line-height: 22px;
		font-weight: 400;
		letter-spacing: 0.05em;
		color: #212121;
		&--original {
			color: #fff;
		}
	}
}

.description {
	width: 370px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__icon {
		&:hover {
			animation: circle 0.4s linear 0s;
		}
		margin: 0px 0px 29px 0px;
	}

	&__title {
		margin: 0px 0px 26px 0px;
		font-size: 20px;
		line-height: 22px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #212121;
	}

	&__text {
		margin: 0px 0px 20px 0px;
		width: 255px;
		text-align: center;
		font-size: 15px;
		line-height: 22px;
		font-weight: 400;
		letter-spacing: 0.05em;
		color: #212121;
	}

	&__link {
		width: 150px;
	}
}

.price {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	width: 370px;

	&__header {
		position: relative;
		padding: 48px 0px 68px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #3949ab;

		&:after {
			content: '';
			position: absolute;
			overflow: hidden;
			bottom: 0;
			border-bottom: 0px solid transparent;
			border-right: 370px solid #fff;
			border-top: 40px solid transparent;
		}
	}

	&__title {
		margin: 0px 0px 40px 0px;
		font-size: 25px;
		line-height: 22px;
		font-weight: 400;
		letter-spacing: 0.05em;
		color: #ffffff;
	}

	&__subtitle {
		display: flex;
		line-height: 22px;
		font-weight: 400;
		letter-spacing: 0.05em;
		color: #ffffff;

		& li:first-child {
			margin: 0 0 10px 0;
			font-size: 25px;
		}

		& li:nth-child(2) {
			font-size: 50px;
			margin: 10px 0px 0px 0px;
		}

		& li:nth-child(3) {
			font-size: 17px;
			margin: 20px 0px 0px 0px;

		}
	}

	&__description {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 17px;
		line-height: 22px;
		font-weight: 300;
		letter-spacing: 0.05em;
		color: #212121;
		position: relative;
		margin: 0px 0px 80px 0px;

		& li {
			margin: 0px 0px 20px 0px;

			&:after {
				content: '';
				width: 178px;
				height: 1px;
				background-color: #000;
				position: absolute;
				left: 50%;
				transform: translate(-50%, 30px);
			}

			&:last-child {
				margin: 0px 0px 0px 0px;

				&:after {
					height: 0px;
				}
			}
		}
	}

	&__link {
		margin-bottom: 60px;
		width: 180px;
	}
}

.slider {

	&__row {
		position: relative;
		margin: -50px -12px 40px -12px;
	}

	&__column {
		align-items: center;
		margin: 50px 12px;
		display: flex;
		flex-direction: column;
	}

	&__image {
		border-radius: 15px;
		max-width: 370px;
		height: 320px;
		overflow: hidden;
		margin: 0px 0px 36px 0px;

		& img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		margin: 0px 0px 6px 0px;
		width: 370px;
		text-align: center;
		font-size: 20px;
		line-height: 22px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #212121;
	}

	&__subtitle {
		width: 370px;
		flex: 1 1 auto;
		text-align: center;
		font-size: 15px;
		line-height: 22px;
		font-weight: 400;
		letter-spacing: 0.05em;
		color: #212121;
		margin: 0px 0px 30px 0px;
	}

	&__icons {
		width: 370px;
		padding: 0px 40px;
		display: flex;
		justify-content: space-between;
	}
}

.item-blog {
	padding: 60px 0px 10px 0px;
	max-width: 570px;
	width: 100%;
	&__title {
		display: block;
		margin: 0px 0px 28px 0px;
		font-size: 25px;
		line-height: 34px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #00897b;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -5px 0px 26px 0px;
	}

	&__date {
		position: relative;
		margin: 5px 40px 5px 30px;
		font-size: 17px;
		line-height: 22px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #212121;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: -30px;
			background: url(../blog/icon00001.png) no-repeat;
			width: 20px;
			height: 20px;
		}
	}

	&__subtitle {
		margin: 5px 30px 5px 30px;
		position: relative;
		font-size: 17px;
		line-height: 22px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #212121;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: -30px;
			background: url(../blog/icon00002.png) no-repeat;
			width: 20px;
			height: 20px;
		}
	}

	&__text {
		max-width: 450px;
		width: 100%;
		font-size: 15px;
		line-height: 22px;
		font-weight: 400;
		letter-spacing: 0.05em;
		color: #212121;
	}
}

.icons {
	&__item {
		transition: all 0.2s linear;
		display: flex;
		width: 50px;
		height: 50px;
		overflow: hidden;
		& img {}

		&:hover{
			transition: border-radius 0.3s ease-in-out;
			border-radius: 100%;
		}
		&:active {
			transition: all 0.1s ease-in-out;
			transform: scale(0.8);
		}
	}
}

.feedback {

	&__row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: -15px -15px -15px -15px;
	}

	&__name {
		margin: 15px 15px;
		padding: 20px;
		max-width: 500px;
		width: 100%;
		height: 84px;
		border-radius: 10px;
		font-size: 20px;
		line-height: 28px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #212121;
	}

	&__email {
		margin: 15px 15px;
		padding: 20px;
		max-width: 500px;
		width: 100%;
		height: 84px;
		border-radius: 10px;
		font-size: 20px;
		line-height: 28px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #212121;
	}

	&__message {
		resize: none;
		padding: 20px;
		max-width: 1030px;
		width: 100%;
		height: 324px;
		border-radius: 10px;
		margin: 30px 0px 40px 0px;
		font-size: 20px;
		line-height: 28px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #212121;
	}

	&__wrapper-btn {
		display: flex;
		justify-content: right;
	}

	&__btn {
		transition: 0.3s;
		background-color: #fff;
		border-radius: 10px;
		width: 220px;
		height: 70px;
		font-size: 20px;
		line-height: 28px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #212121;

		&:hover {
			color: #fff;
			background: rgba(255, 255, 255, 0.7);
			border: 2px solid rgba(255, 255, 255, 0.3);
		}
		&:active {
			background: rgba(255, 255, 255, 0.2);
			border: 2px solid rgba(255, 255, 255, 0.1);
		}
	}
}





// for Samsung S8+ ( = 360px)
@media (max-width: 390px) {
	.container{
		width: 300px;
	}
	.price {
		&__header {
			&:after {
				content: '';
				border-right: 280px solid #fff;
			}
		}
	}
	.icons {
		&__item {
			transform: scale(0.8, 0.8);
			&:active {
				transform: scale(0.6);
			}
		}
	}
}

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {

}

// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
	body.lock {
		overflow: hidden;
	}

	.main{
	&__title {
			font-size: 36px;
			line-height: 36px;
		}
	}

	.header {
		&__body{
			height: 50px;
		}

		&__logo{
			font-size: 18px;
		}

		&__menu{
			overflow: auto;
			z-index: 1;
			position: fixed;
			top: -200%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #f0f0f0;
			padding: 70px 0px 20px 10px;
			&.active {
				top: 0;
				transition: all 0.3s ease 0s;
			}
		}
		&__burger{
			display: block;
			position: relative;
			z-index: 3;
			width: 30px;
			height: 20px;
			& span {
				background-color: #000;
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
			&:before,
			&:after {
				content: '';
				background-color: #000;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&:before {
				top: 0;
			}
			&:after {
				bottom: 0;
			}
			&.active:before {
				transform: rotate(45deg);
				top: 9px;
			}
			&.active:after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
			&.active span {
				transform: scale(0);
			}
		}
	}

	.menu {
		&__list {
			min-width: 0;
			display: block;
			text-align: center;
		}
		&__item {
			margin: 0px 0px 20px 0px;
			font-size: 30px;
		}
	}

	.latest-works{
		&__menu {
			margin: 0px auto 40px auto;
			max-width: 690px;
		}
	
		&__list {
			display: none;
			position: relative;
			z-index: 0;
		}

		&__select{
			display: block;
		}
	}
}

// Средние девайсы («таблетки», < 992px) 
@media (max-width: 991.98px) {

}

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {
	.container{
		max-width: 1170px;
	}
	.blog{
		&__photo{
			&--reverse{
				order:1;
			}
		}
	}
}





// Анимация
@keyframes circle {
	0% {
		transform: rotate(0deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@keyframes arrow {
	0% {
		bottom: 0px;
	}

	100% {
		bottom: 30px;
	}
}





/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {

	display: flex;
}

/* Слайд */
.slick-slide {
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {
	// z-index: 10;
	// position: absolute;
	// top: 50%;
	// font-size: 0;
	// width: 30px;
	// height: 60px;
	// margin: -30px 0px 0px 0px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
	// left: 0;
	// background: url('../img/slider/left.png') 0 0/100% no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
	// right: 0;
	// background: url('../img/slider/right.png') 0 0/100% no-repeat;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slick-dots li {
	margin: 0 10px;

}

/* Активная точка */
.slick-dots li.slick-active button {
	background-color: #3949ab;
}

/* Элемент точки */
.slick-dots li button {
	font-size: 0;
	width: 15px;
	height: 15px;
	background-color: #00897b;
	border-radius: 50%;
}

/* Конкретный слайдер */